body{
    font-family: 'Poppins', sans-serif;
}

.Orange-color{color: orange;}
.flexible-container{
    display: flex;
    margin-bottom: 10px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image:url(shrestho.jpg)
}
.web-dream{color: tomato;}
.box{
box-shadow: 5px 5px 10px rgb(107, 183, 235);
margin-left: 5%;
margin-right: 5%;
border-radius: 10px;
}

#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(192, 148, 3), rgb(201, 35, 5)) ;
    border-image-slice: 1; 
}